.btn-airbnb {
  text-decoration: none;
  background-color: salmon;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bolder;
}

.btn-airbnb:hover {
  background-color: darksalmon;
}

.btn-medium {
  text-decoration: none;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 4px;
  color: black;
  opacity: 0.8;
  font-weight: lighter;
}

.btn-medium:hover {
  opacity: 1;
}
